<!DOCTYPE html>
<html>
  <head>
    <title>Szyslak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.abeURL = "<%= image_url('abegif.gif') %>";
      window.homerTVURL = "<%= image_url('homertv.gif') %>";
      window.moegoURL = "<%= image_url('moego.png') %>";
      window.moesTavernSplashURL = "<%= image_url('moes_tavern_splash.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
