<!DOCTYPE html>
<html>
  <head>
    <title>Szyslak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Szyslak" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://szyslak.herokuapp.com" />
    <meta property="og:image" content="https://imgur.com/pmrIgjh">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.abeURL = "<%= image_url('abegif.gif') %>";
      window.homerTVURL = "<%= image_url('homertv.gif') %>";
      window.moegoURL = "<%= image_url('moego.png') %>";
      window.moesTavernSplashURL = "<%= image_url('moes_tavern_splash.png') %>";
      window.caretRightURL = "<%= image_url('caretright.svg') %>";
      window.usersURL = "<%= image_url('users.svg') %>"
      window.pinsURL = "<%= image_url('pins.svg') %>"
      window.searchURL = "<%= image_url('magnify.svg') %>"
      window.threedotsURL = "<%= image_url('threedots.svg') %>"
      window.phoneURL = "<%= image_url('phone.svg') %>"
      window.xURL = "<%= image_url('x.svg') %>"
      window.szyslakURL = "<%= image_url('szyslak.png') %>"
      window.defaultavURL = "<%= image_url('defaultav.svg') %>"
      window.starURL = "<%= image_url('star.svg') %>"
      window.solidstarURL = "<%= image_url('solidstar.svg') %>"
      window.uparrowURL = "<%= image_url('uparrow.svg') %>"
      window.downarrowURL = "<%= image_url('downarrow.svg') %>"
      window.greencircleURL = "<%= image_url('greencircle.svg') %>"
      window.szyslakblackURL = "<%= image_url('szyslakblack.png') %>"
      window.couchURL = "<%= image_url('couch.svg') %>"
      window.emptycircleURL = "<%= image_url('emptycircle.svg') %>"
      window.moeURL = "<%= image_url('moe.jpg') %>"


    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
